@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&display=swap');
/*
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
*/







/*---Media Queries --*/
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}

/* index-link2 */ 

:root {
    --height1: 120px;
  }

  #x-abs-center {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
}

/* Modify the background color */

.navbar-dark .navbar-nav .nav-link {
  color: white;
}



/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
