:root {
    --height1: 120px;
  }
  /*       
  *,
  ::before,
  ::after {
    padding: 0;
    margin: 0;
  }
  
    */
  @media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
  
  body {
    margin: 0;
  }
  /*Top header */
  header {
    width: 100%;
    height: var(--height1);
    background: black;
    display: flex;
    position: fixed;
    top: 0px;
    color: white;
    align-items: center;
  }
  nav {
    margin: auto;
    padding: 0;
    width: 70%;
  }
  nav > ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
  }
  nav > ul > li {
    color: white;
    font-family: "Playfair Display", serif;
    font-size: 24px;
    padding: 0px 5px;
  }
  nav > ul > li > a {
    color: white;
    text-decoration: none;
  }
  a:link:active,
  a:visited:active {
    color: white;
  }
  /*Top header */
  /*Main section under header */
  main {
    padding-top: var(--height1, 200px); /*Keeps stuff under  */
  }

