.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
  .gallery img {
    width: 100%;
    max-width: 350px;
    max-height: 600px;
    object-fit: cover;
    border-radius: 10px;
    border: solid 1px black;
  }
  
  .gallery::after {
    content: "";
    width: 350px;
  }
  